/src/__pycache__
/src/build
/src/dist
/src/getfilelist.spec
/src/action/__pycache__
/src/ui/__pycache__
/src/util/__pycache__
/src/getfilelist.log
/src/.idea
/src/cbctrltext/__pycache__
/src/buildinfo/__pycache__
/src/buildinfo/build
/src/buildinfo/getfilelist.spec
/src/buildinfo/dist
/src/buildinfo/version.json.bak
/release

# 임시 CFG 파일
/src/getfilelist.cfg
/src/getfilelist0.cfg
/src/getfilelist1.cfg
/src/getfilelist2.cfg
/src/getfilelist3.cfg
/src/getfilelist4.cfg
/src/getfilelist5.cfg
/src/getfilelist6.cfg
/src/getfilelist7.cfg
/src/tab_name.cfg
history.html

# IDE
.idea
