/src/__pycache__
/src/build
/src/dist
/src/getfilelist.spec
/src/action/__pycache__
/src/ui/__pycache__
/src/util/__pycache__
/src/getfilelist.log
/src/.idea
/src/cbctrltext/__pycache__
/src/buildinfo/__pycache__
/src/buildinfo/build
/src/buildinfo/getfilelist.spec
/src/buildinfo/dist
/src/buildinfo/version.json.bak
/release
